<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Droid+Sans:400,700|Noto+Sans" rel="stylesheet">
    <title>First App</title>
    <link rel="stylesheet" type="text/css" href="{% static "/css/header.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/css/page.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/css/footer.css" %}">
  </head>
  <body>
  	 <div class="header">
        <div class="header-wrapper">
            <div class="mobile-menu header_item">
               <img src="{% static "images/close-icon.png" %}" alt="Uh Oh, didn't show!">
            </div>
            <div class="domain_logo header_item">
                <a href="/">
                    <h1>DocApp</h1><span>v.01</span>
                </a>
            </div>
            <div class="navigation header_item">
            	<ul class="">
         			<li class="menu-list-item">
         				<span>Parent</span>
						<div class="submenu">
							<ul>
								<li>Child</li>
							</ul>
						</div>
         			</li>
         			<li class="menu-list-item"></li>

            	</ul>
            </div>
        </div>
    </div>