{% include 'first_app/header.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

	<link rel="stylesheet" type="text/css" href="{% static "/css/sidebar.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "/css/fonts.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "/css/index.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "/css/newpatient.css" %}">

    <div class="page-content">
		<div class="wrapper left sidebar">
			{% include 'first_app/patient_list.html' %}
		</div>
		<div class="wrapper right content">

			<div class="welcome-container">
				<h1>Welcome</h1>
				<p>To get started, please search for a patient or select a patient from the listing from the sidebar.</p>
				<div class="patient-info-container hidden">
					<div class="patient-container">
						<div class="patient-header">
							<div class="info left">
								<div class="image-block">

								</div>
								<div class="information-block">
									<h4><span class="patient-name"></span></h4>
									<p>Patient Number: <span class="patient-number"></span></p>
								</div>
							</div>
							<div class="meta-info right">
								<p>Gender: <span class="patient-sex"></span></p>
									<p>Age: <span class="patient-age"></span></p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>

					<div class="action-container">
						<div class="action-wrapper">
							<div class="action-block vaccination"><p>vaccination</p>
							</div>
						</div>
						<div class="action-wrapper">
							<div class="action-block checkup"><p>checkup</p>
							</div>
						</div>
						<div class="action-wrapper">
							<div class="action-block growth"><p>growth</p>
							</div>
						</div>
						<div class="action-wrapper">
							<div class="action-block diagnosis"><p>diagnosis</p>
							</div>
						</div>
						<div class="action-wrapper">
							<div class="action-block misc"><p>Miscellaneous</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="new-patient-registration-container hidden">
			</div>
		</div>
		<div class="clearfix"></div>
    </div>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>
  <script src="{% static 'js/newpatient.js' %}"></script>
  <script src="{% static 'js/moment.js' %}"></script>
  <script src="{% static 'js/moment-diff.js' %}"></script>

{% include 'first_app/footer.html' %}
